body {
    font-family: Afacad;
    background-color: rgb(219, 222, 228);
}

#tituloCadastros {
    color: brown;
    text-align: center;
    margin-bottom: 40px;
}

.lista-de-cadastros {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px;
}

.cadastro-card {
    color: rgb(32, 68, 99);
    background-color: rgb(197, 197, 219);
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s, box-shadow 0.3s; 
}

.cadastro-card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

a {
    text-decoration: none;
    color: inherit;
}

.novo-cadastro-card {
    color: rgb(197, 197, 219);
    background-color: rgb(32, 68, 99);
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s, box-shadow 0.3s;
}

.novo-cadastro-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@font-face {
    font-family: 'Afacad' ;
    src: url(../../fonts/AfacadFlux-VariableFont_slnt\,wght.ttf);
}
