body {
    background-color: rgb(219, 222, 228);
}

#tituloCadastros{
    color: brown;
    display: flex;
    text-align: center;
    width: 50%;
}

.lista-de-cadastros{
    width: 10%;
}

.cadastro-card{
    color: rgb(32, 68, 99);
    background-color: rgb(197, 197, 219);
    box-shadow: 50%;
    border-radius: 5px;
    text-align: center;
}