<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Cadastros</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'aplicacao/css/home.css' %}">
</head>
<body>

    {% include 'navbar.html' %} 

    <h1 id="tituloCadastros">Cadastros</h1>

    <div class = "lista-de-cadastros">
        <section class="cadastros">
            <a href="{% url 'aplicacao:cadastrar' %}" id="linkAddCadastros">
                <div class="novo-cadastro-card">
                    <h2>Novo Cadastro</h2>
                </div>
            </a>

            {% for cadastros in todos_cadastros %}
            <a href="{% url 'aplicacao:visualizar_cadastros' cadastros.id %}" id="linkVisualizarCadastro">
                <div class="cadastro-card">
                    <h2>{{cadastros.nome}}</h2>
                </div>
            </a>
            {% endfor %}
        </section>
    </div>

</body>
</html>