{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'aplicacao/css/home.css' %}">
</head>
<body>
    {% include 'navbar.html' %} 

    <h1 id="tituloCadastros">Cadastros</h1>

    <div class = "lista-de-cadastros">
        <a href="{% url 'aplicacao:cadastrar' %}">
            <h2>Novo Cadastro</h2>
        </a>

        {% for cadastros in todos_cadastros %}
        <a href="{% url 'aplicacao:visualizar_cadastros' cadastros.id %}">
            <div class="cadastro-card">
                <h2>{{cadastros.nome}}</h2>
            </div>
        </a>
        {% endfor %}
    </div>
</body>
</html>