{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'aplicacao/css/visualizar_cadastros.css' %}">
    <title>Cadastro</title>
</head>
<body>
    {% include 'navbar.html' %} 

    <div class="container">
        <h1 id="nome-cadastro">{{ cadastro.nome }}</h1>
        <table>
            <tr>
                <th>Idade</th>
                <td>{{ cadastro.idade }}</td>
            </tr>
            <tr>
                <th>CPF</th>
                <td>{{ cadastro.cpf }}</td>
            </tr>
            <tr>
                <th>Celular</th>
                <td>{{ cadastro.celular }}</td>
            </tr>
            <tr>
                <th>CEP</th>
                <td>{{ cadastro.cep }}</td>
            </tr>
            <tr>
                <th>Cidade</th>
                <td>{{ cadastro.cidade }}</td>
            </tr>
            <tr>
                <th>Bairro</th>
                <td>{{ cadastro.bairro }}</td>
            </tr>
            <tr>
                <th>Rua</th>
                <td>{{ cadastro.rua }}</td>
            </tr>
            <tr>
                <th>Número</th>
                <td>{{ cadastro.numero }}</td>
            </tr>
            <tr>
                <th>Complemento</th>
                <td>{{ cadastro.complemento }}</td>
            </tr>
        </table>
    </div>
</body>
</html>
