<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'aplicacao/css/visualizar_cadastros.css' %}">
    <title>Visualizando um Cadastro</title>
</head>
<body>
    {% include 'navbar.html' %} 

    <div id="card_container">
        <div id="nome">
            <h1>{{cadastro.nome}}</h1>
        </div>

        <div class ="outras-infos">
            <h2>Idade:</h2>
            <p>{{cadastro.idade}}</p>
        </div>
    </div>
</body>
</html>